@charset "UTF-8";
/* CSS Document */
/*обнуляющий стиль*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------------------*/
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.head-link {
  font-size: 12px;
  color: #010101;
}

.head-title-name {
  color: #11abb0;
  font-size: 43px;
}

.search-console {
  background-color: #ededed;
}

.wrapper-main {
  margin: 44px 20px 52px 20px;
}

.products-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
}

.products-item {
  display: grid;
  position: relative;
  padding: 0 0 85% 0;
  border: 1px solid green;
}

.products-subtitle {
  display: grid;
}

.products-name {
  display: grid;
}

.products-image {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 189px;
  max-height: 133px;
  object-fit: cover;
  padding: 105px 36px 106px;
}

.products-price {
  display: grid;
}

.products-price-standart {
  display: grid;
}

.products-price-sale {
  display: grid;
}

.content-pagination {
  display: grid;
}